<div class="card text-dark bg-light mb-3" id="<%= dom_id user %>" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to user.name, user %></h5>
    <p class="card-text"><p><%= user.email %></p></p>
  </div>
</div>
